{{- if or .Values.jenkins.enabled .Values.aws.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "devops-logsense.fullname" . }}-secrets
  labels:
    {{- include "devops-logsense.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.jenkins.enabled }}
  {{- if .Values.jenkins.url }}
  jenkins-url: {{ .Values.jenkins.url | b64enc | quote }}
  {{- end }}
  {{- if .Values.jenkins.username }}
  jenkins-username: {{ .Values.jenkins.username | b64enc | quote }}
  {{- end }}
  {{- if .Values.jenkins.apiToken }}
  jenkins-api-token: {{ .Values.jenkins.apiToken | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.aws.enabled }}
  {{- if .Values.aws.region }}
  aws-region: {{ .Values.aws.region | b64enc | quote }}
  {{- end }}
  {{- if .Values.aws.accessKeyId }}
  aws-access-key-id: {{ .Values.aws.accessKeyId | b64enc | quote }}
  {{- end }}
  {{- if .Values.aws.secretAccessKey }}
  aws-secret-access-key: {{ .Values.aws.secretAccessKey | b64enc | quote }}
  {{- end }}
  {{- end }}
{{- end }}
